<h1>Users</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>@user.Phone</td>
            <td>
                <a href="/Users/Edit/@user.Id">Edit</a> |
                <a href="/Users/Delete/@user.Id">Delete</a>
            </td>
        </tr>
    }
</table>
<a href="/Users/Create">Create New User</a>
